.CFUserTextEncoding
	.DS_Store
	.PenTablet/
	.anaconda/
	.android/
	.bash_profile
	.conda/
	.condarc
	.config/
	.continuum/
	.gitconfig
	.gitignore
	.gitinore.save
	.gradle/
	.ipython/
	.jupyter/
	.lesshst
	.m2/
	.mailcap
	.matplotlib/
	.mime.types
	.nutstore/
	.plastic4/
	.swiftpm/
	.swt/
	.tcshrc
	.viminfo
	.vscode/
	.xonshrc
	.zprofile
	.zsh_history
	.zsh_sessions/
	.zshrc
	Applications/
	DataGripProjects/
	Desktop/
	IdeaProjects/.DS_Store
	IdeaProjects/Hello/
	IdeaProjects/Information/
	IdeaProjects/Project/
	IdeaProjects/Sum/
	IdeaProjects/cs109/
	IdeaProjects/cs307/
	IdeaProjects/cs3071.8.sk/
	IdeaProjects/cs3071.8/
	IdeaProjects/jiz/
	IdeaProjects/jizu/
	IdeaProjects/jizua/
	IdeaProjects/lab4/
	IdeaProjects/lab5/
	IdeaProjects/lab7/
	IdeaProjects/lab8/
	IdeaProjects/lab9/
	IdeaProjects/lianbiao/
	IdeaProjects/p2/
	IdeaProjects/pn/
	IdeaProjects/pn1/
	IdeaProjects/practice9/
	IdeaProjects/pro/
	IdeaProjects/proj/
	IdeaProjects/proj1/
	IdeaProjects/q2new/
	IdeaProjects/q3/
	IdeaProjects/q4/
	IdeaProjects/qiandao/
	IdeaProjects/untitled/
	IdeaProjects/untitled1/
	IdeaProjects/untitled10/
	IdeaProjects/untitled11/
	IdeaProjects/untitled12/
	IdeaProjects/untitled13/
	IdeaProjects/untitled14/
	IdeaProjects/untitled15/
	IdeaProjects/untitled16/
	IdeaProjects/untitled17/
	IdeaProjects/untitled18/
	IdeaProjects/untitled19/
	IdeaProjects/untitled2/
	IdeaProjects/untitled20/
	IdeaProjects/untitled21/
	IdeaProjects/untitled22/
	IdeaProjects/untitled23/
	IdeaProjects/untitled24/
	IdeaProjects/untitled25/
	IdeaProjects/untitled26/
	IdeaProjects/untitled27/
	IdeaProjects/untitled28/
	IdeaProjects/untitled29/
	IdeaProjects/untitled3/
	IdeaProjects/untitled30/
	IdeaProjects/untitled31/
	IdeaProjects/untitled32/
	IdeaProjects/untitled4/
	IdeaProjects/untitled5/
	IdeaProjects/untitled6/
	IdeaProjects/untitled7/
	IdeaProjects/untitled8/
	IdeaProjects/untitled9/
	IdeaProjects/week4/
	Library/
	Movies/
	Music/
	My project/
	Nutstore Files/
	Parallels/
	Pictures/
	Public/
	PycharmProjects/
	Virtual Machines.localized/
	a.out
	chromium-binaries/
	example.pcapng
	hellowworld/
	lab
	qid.json/
	verilog/
	wave

